In [40]:
import pandas as pd
import psycopg2
import sqlalchemy as sl
import numpy as np

In [41]:
username = 'KhokMaksym'
password = '1234543'
database = 'Lab_2_DB'

engine = sl.create_engine(f'postgresql+psycopg2://{username}:{password}@localhost/{database}')

In [42]:
#df = pd.read_csv('sales.csv', low_memory=False,  parse_dates=True)
#df = df.drop(columns=['order_date', 'value', 'discount_amount', 'payment_method', 'bi_st', 'year', 'month', 'ref_num', 'Name Prefix', 'First Name', 'Middle Initial', 'Last Name', 'Gender', 'age', 'Customer Since', 'SSN', 'Phone No. ', 'Place Name', 'County', 'Region', 'User Name', 'Discount_Percent'])
#df.to_csv('file.csv') 
#df

In [43]:
query_import_into_customers = '''
Insert into customers(cust_id, full_name, city_name, email)
values(%s, %s, %s, %s)
'''

query_import_into_cities = '''
Insert into Cities(city_name, zip, city_state)
values(%s, %s, %s)
'''

query_import_into_products = '''
Insert into Products(sku, category, price)
values(%s, %s, %s)
'''

query_import_into_orders = '''
Insert into Orders(order_id, status, cust_id)
values(%s, %s, %s)
'''

query_import_into_orderitems = '''
Insert into Orderitems(item_id, order_id, sku, qty_ordered, total)
values(%s, %s, %s, %s, %s)
'''

In [44]:
df = pd.read_csv('file.csv', low_memory=False).drop(columns=['Unnamed: 0'])
df

,order_id,status,item_id,sku,qty_ordered,price,total,category,cust_id,full_name,E Mail,City,State,Zip
0,100354678,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
1,100354678,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
2,100354680,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
3,100354680,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
4,100367357,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,Appliances,115323.0,"Latham, Brady",brady.latham@gmail.com,Rushville,NY,14544
286388,100562376,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,Men's Fashion,115324.0,"Brunetti, Bennie",bennie.brunetti@gmail.com,Lawrenceville,GA,30044
286389,100562383,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,Women's Fashion,115325.0,"Giusti, Francesca",francesca.giusti@btinternet.com,Durham,NC,27701
286390,100562384,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,Women's Fashion,115325.0,"Giusti, Francesca",francesca.giusti@btinternet.com,Durham,NC,27701
286391,100562386,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,Mobiles & Tablets,115326.0,"Schlosser, Rolf",rolf.schlosser@comcast.net,Knoxville,TN,37920

In [45]:
df.isnull().any()

order_id       False
status         False
item_id        False
sku            False
qty_ordered    False
price          False
total          False
category       False
cust_id        False
full_name      False
E Mail         False
City           False
State          False
Zip            False
dtype: bool

In [46]:
for i in range(df.shape[0]):
    try:
        engine.execute(query_import_into_cities, (df.loc[i, 'City'], int(df.loc[i, 'Zip']),   df.loc[i, 'State']))
    except Exception:
        pass
    
    try:
        engine.execute(query_import_into_customers, (int(df.loc[i, 'cust_id']), df.loc[i, 'full_name'], df.loc[i, 'City'], df.loc[i, 'E Mail']))
    except Exception:
        pass
    
    try:
        engine.execute(query_import_into_products, (df.loc[i, 'sku'], df.loc[i, 'category'], df.loc[i, 'price']))
    except Exception:
        pass
        
    try:
        engine.execute(query_import_into_orders, (int(df.loc[i, 'order_id']), df.loc[i, 'status'], int(df.loc[i, 'cust_id'])))
    except Exception:
        pass
    
    try:
        engine.execute(query_import_into_orderitems, (df.loc[i, 'item_id'], int(df.loc[i, 'order_id']), df.loc[i, 'sku'], int(df.loc[i, 'qty_ordered']), df.loc[i, 'total']))
    except Exception:
        pass

In [47]:
df.dtypes

order_id        object
status          object
item_id        float64
sku             object
qty_ordered    float64
price          float64
total          float64
category        object
cust_id        float64
full_name       object
E Mail          object
City            object
State           object
Zip              int64
dtype: object

In [48]:
df.loc[200]

order_id                     100535496
status                  order_refunded
item_id                       859341.0
sku                SOGAHM59C0B2B7C5EE7
qty_ordered                        2.0
price                             23.0
total                             23.0
category                       Soghaat
cust_id                        37011.0
full_name                 Hopps, Romeo
E Mail         romeo.hopps@outlook.com
City                            Snyder
State                               NE
Zip                              68664
Name: 200, dtype: object

In [49]:
#df.loc['order_id' == 377]
df[df.order_id < '3775']

,order_id,status,item_id,sku,qty_ordered,price,total,category,cust_id,full_name,E Mail,City,State,Zip
0,100354678,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
1,100354678,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
2,100354680,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
3,100354680,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
4,100367357,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,Men's Fashion,60124.0,"Titus, Jani",jani.titus@gmail.com,Vinson,OK,73571
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
286387,100562365,paid,905179.0,APPCHA5AF14939B8F8A,2.0,4419.9,4419.9,Appliances,115323.0,"Latham, Brady",brady.latham@gmail.com,Rushville,NY,14544
286388,100562376,cod,905191.0,MEFCOT5A8D1E973B886,2.0,39.9,39.9,Men's Fashion,115324.0,"Brunetti, Bennie",bennie.brunetti@gmail.com,Lawrenceville,GA,30044
286389,100562383,cod,905200.0,WOFVAL59D5EA84167F9-M,2.0,40.0,40.0,Women's Fashion,115325.0,"Giusti, Francesca",francesca.giusti@btinternet.com,Durham,NC,27701
286390,100562384,cod,905202.0,WOFNIG5B4D7EB0E9FDD-L,2.0,49.9,49.9,Women's Fashion,115325.0,"Giusti, Francesca",francesca.giusti@btinternet.com,Durham,NC,27701
286391,100562386,processing,905205.0,MATHUA5AF70A7D1E50A,2.0,3559.9,3559.9,Mobiles & Tablets,115326.0,"Schlosser, Rolf",rolf.schlosser@comcast.net,Knoxville,TN,37920

In [50]:
data = df.groupby('sku').count()[df.groupby('sku').count().order_id > 30]
data.iloc[5]

order_id       79
status         79
item_id        79
qty_ordered    79
price          79
total          79
category       79
cust_id        79
full_name      79
E Mail         79
City           79
State          79
Zip            79
Name: APPBIN59AC8F3A515E5, dtype: int64